@import './profile-avatar.scss';

.dmc-profile {
  padding: 8px;
}

.dmc-profile-layout-grid__inner {
  grid-gap: 8px;
}

@media (max-width: 839px) {
  .dmc-profile {
    padding: 0px;
  }

  .dmc-profile-layout-grid__inner {
    grid-gap: 0px;
  }

  .dmc-profile-avatar {
    display: none;
  }
}

.dmc-profile-detail,
.dmc-profile-avatar {
  background: #fff;
  background: var(--mdc-theme-background, #fff);
}

.dmc-profile-detail__header {
  padding-left: 24px;
  padding-bottom: 8px;
  position: relative;

  .mdc-typography--headline {
    margin-bottom: 0;
  }

  .mdc-typography--subheading1 {
    margin: 0;
  }
}
