/*
  Snackbar
*/
.snackbar.alert-success {
  background-color: #0f9d58;
}
.snackbar.alert-info {
  background-color: #03a9f4;
}
.snackbar.alert-warning {
  background-color: #ff5722;
}
.snackbar.alert-error {
  background-color: #f44336;
}


/*
   App list icons
*/
[class^=adm-app-], [class*=" adm-app-"] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size:45px;
    position:relative;
    top:10p;
    max-width:50px;
}

.adm-app-default:before {
    font-family: Material-Design-Icons;
    content: "\e690";
}

.adm-app-auth:before {
    font-family: Material-Design-Icons;
    content: "\e605";
}

.adm-app-comments:before {
    font-family: Material-Design-Icons;
    content: "\e6de";
}

.adm-app-flatpages:before {
    font-size:40px;
    font-family: 'Glyphicons Halflings';
    content: "\e043";
}

.adm-app-redirects:before {
    font-family: Material-Design-Icons;
    content: "\e6db";
}

.adm-app-sites:before {
    font-size:40px;
    font-family: 'Glyphicons Halflings';
    content: "\e010";
}


/*
  Login form
*/
#login-form {
    margin-left: 1em;
    margin-right: 1em;
}