/*
    Common structure
*/
body {
    background: #eee;
}

.page-title {
    display:inline
}

.side-nav.fixed .logo {
    height: 150px;
}

.side-nav.fixed .logo a {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.side-nav.fixed .logo a img {
    display: table-cell;
}

@media only screen and (min-width : 992px) {
    .nav-top {
        height: 80px;
        padding-left: 270px;

    }

    .page-title {
        font-size: 1.6rem;
        font-weight: 300;
        position: relative;
        top: 5px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width : 991px) {
    .nav-top {
        padding-left: 20px;
    }
}

.nav-top .logout {
    position: absolute;
    bottom: 80px;
    width: 240px;
}

.avatar {
    height: 30px;
    position: relative;
    top: 15px;
    margin-right: 10px; 
}

@media only screen and (max-width : 600px) {
    .nav-top {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .card {
        margin-bottom: 5px;
    }

    .card-content {
        padding: 15px;
    }

    main>.row>.col {
        padding: 0;
    }
    main>.row>.col>.card,
    main>.row>.col>form>.card {
        margin-top: 0;
        border-radius: 0 0 0 0;

        -webkit-border-radius: 0 0 0 0;
    }
}

@media only screen and (min-width : 992px) {
    main {
        padding-left: 240px;
    }
}

/*.
   Sidebar menu.
*/

.no-padding {
  padding: 0 !important;
}

ul.side-nav.fixed.module-menu {
    overflow: hidden;
}

ul.side-nav.fixed.module-menu li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
}

ul.side-nav.module-menu .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background: #4CAF50;
}

ul.side-nav.module-menu .collapsible-body li a {
  margin: 0 1rem 0 2rem;
}

ul.side-nav.module-menu .collapsible-body li .collapsible-body a {
    margin-left: 60px;
}

ul.side-nav.module-menu li.active>a>span.badge {
    color: #fff;
}

.side-nav.fixed .collapsible-body li.active.header {
    background-color: #ddd;
}

.side-nav.fixed .collapsible-body li.active.header>a {
    color: #444;
}

.side-nav.fixed .collapsible-body li.active a {
    color: #444;
}

.side-nav.fixed .collapsible-body li.active>a {
    color: #fff;
}

/*
  Breadcrumbs
*/
.breadcrumbs div {
    height: 48px;
    padding-top:10px;
}

.breadcrumbs a {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
}

/*
    App index page
*/
.app-list {
    max-width: 1300px;
}

.app-item {
    padding-left: 0px !important;
}

.app-item a{
    background: #f5f5f5;
    display: block;
    border-radius: 4px;
    padding: 35px 0px;
    text-align: center;
    position: relative;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
}


.adm-app-default:before {
    font-family: FontAwesome;
    content: "\f233";
}

.adm-auth-group:before {
    content: "\f0c0";
}

.adm-auth-user:before {
    content: "\f007";
}

.adm-django_comments-comment:before {
    content: "\f086";
}

.adm-flatpages-flatpage:before {
    content: "\f0f6";
}

.adm-default-association:before {
    content: "\f066";
}

.adm-default-nonce:before {
    content: "\f084";
}

.adm-default-usersocialauth:before {
    content: "\f13e";
}

.adm-redirects-redirect:before {
    content: "\f07e";
}

.adm-sites-site:before {
    content: "\f0c5";
}

.adm-tagging-taggeditem:before {
    content: "\f187";
}

.adm-tagging-tag:before {
    content: "\f02c";
}

.adm-zinnia-category:before {
    content: "\f02d";
}

.adm-zinnia-entry:before {
    content: "\f15c";
}

/*
    Change list page
*/
.filters a {
    margin-right: 0;
}

.filters #changelist-search-button {
    z-index:1000;
    position:absolute;
    right:15px;
    top:15px;
}
.fixedHeader th {
    background: white;
}

.results table.dataTable.dtr-inline.collapsed tbody td:first-child:before, 
.results table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
    top: 18px;
    left: 4px;
    color: orange;
    font-size: 20px;
    background-color: #fff;
    border: none;
    box-shadow: none;
    content: "\e89b";
    font-family: "Material-Design-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.results table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before, 
.results table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
    color: orange;
    background-color: #fff;
    content: "\e89e";
}

.results table.collapsed td,
.results table.collapsed th {
    vertical-align: top;
}

.results table.dataTable tr.child ul li {
    white-space: normal;
}

.results table a {
    color: #039be5;
    text-transform: none;
}

.card .pagination a {
    margin-right: 0px;
}

.alert-info {
    background-color: #0277bd;
}

.alert-success {
    background-color: #43a047;
}

.alert-warning {
    background-color: #ff8f00;
}

.alert-error {
    background-color: #d84315;
}

@media only screen and (min-width : 601px) {
    .fixed-action-btn {
        bottom: 15px;
        right: 45px;
    }
}

@media only screen and (max-height : 400px) {
    .fixed-action-btn {
        display:none;
    }
    .fixedHeader {
        display:none;
    }
}


@media only screen and (max-width : 600px) {
    .results {
        margin-left: -20px;
        margin-right: -20px;
    }

    .fixed-action-btn {
        bottom: 0px;
        right: 5px;
    }
}

/*
   Change form
*/
.change-form .card {
    max-width: 1300px;
}

.change-form a {
    color: #039be5;
    text-transform: none;
}

.change-form .card-title {
    font-size: 2.28rem;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;
    font-weight: 400;
}

.change-form .checkbox-field {
    padding-top: 15px;
    padding-bottom: 15px;
}

.change-form .checkbox-field label {
    font-weight: bold !important;
    font-size: 14px !important;
    color: rgba(0,0,0,.84) !important;
}

.change-form .checkbox-field .help-block {
    padding-top: 5px;
    padding-left: 35px;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

.change-form .section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.change-form .section .row  {
    margin-left: -10px;
}

.change-form .multiselect .selector-chooser {
    text-align: center;
}

.errornote {
    color: #F44336;
}

@media only screen and (min-width : 601px) {
    .change-form .multiselect {
        margin-bottom:40px;
    }
    .change-form .multiselect hr {
        color: #eee;
        background-color: #eee;
        height: 1px;
        border:none;
    }

    .change-form .multiselect .selector {
        margin-top: 10px;
    }

    .change-form .multiselect .selector-available {
        width: calc(50% - 30px)
    }

    .change-form .multiselect .selector-available select {
        height: 120px;
    }

    .change-form .multiselect .selector-chooser {
        width: 60px;
        padding-top: 20px;
    }

    .change-form .multiselect .selector-chosen {
        width: calc(50% - 30px)
    }

    .change-form .multiselect .selector-chosen select {
        height: 120px;
    }

}

@media only screen and (max-width : 600px) {
    .change-form .multiselect .selector-available select {
        height: 120px;
    }
    .change-form .multiselect .selector-chooser li {
        display: inline;
    }

    .change-form .multiselect .selector-chooser .selector-add i {
        transform: rotate(90deg);
    }

    .change-form .multiselect .selector-chooser .selector-remove i {
        transform: rotate(90deg);
    }
}

@media only screen and (min-width : 992px) {
    .change-form .card .card-content {
        padding: 30px 50px 50px 50px;
    }
}
