/*
   Icons 
*/

/* django.contrib.auth */
.admin-appicon-auth:before {
    content: "\e8d3";
}

.admin-modelicon-auth-user:before {
    content: "\e7fd";
}

.admin-modelicon-auth-group:before {
    content: "\e8d3";
}

/* django.contrib.flatpages */
.admin-appicon-flatpages:before {
    content: "\e24d";
}

.admin-modelicon-flatpages-flatpage:before {
    content: "\e24d";
}

/* django.contrib.redirects */
.admin-appicon-redirects:before {
    content: "\e8d4";
}

.admin-modelicon-redirects-redirect:before {
    content: "\e8d4";
}

/* django.contrib.sites */
.admin-appicon-sites:before {
    content: "\e14d";
}

.admin-modelicon-sites-site:before {
    content: "\e14d";
}
