<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design for Django Forms and Admin</title>

    {% include 'material/includes/material_css.html' %}

    <style type="text/css">
      .panel-heading h1 {
          font-size: 22px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 15px;
      }
      form .panel-body {
          padding:35px 45px 15px 45px;
      }
      .input-group-addon.prepend {
          padding-left: 0;
      }
      .input-group-addon.append {
          padding-right: 0;
      }
    </style>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
      <div class="{% block container_class %}container{% endblock %}">
          {% block content %}{% endblock %}
      </div>

    {% include 'material/includes/material_js.html' %}
  </body>
</html>
