<!DOCTYPE html>{% load static %}{% load render_bundle from webpack_loader %}
<html lang="en" class="mdc-typography">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Material Design for Django{% endblock %}</title>
  {% render_bundle 'material' 'css' %}
  <style>
    body {
      display: flex;
      justify-content: center;
      background: #eee;
    }
    .page {
      max-width: 845px;
      flex-grow: 1;
    }
  </style>
</head>
<body>
  <div class="page">
    {% block content %}{% endblock %}
  </div>
  {% render_bundle 'material' 'js' %}
</body>
</html>
