<!DOCTYPE html>{% load static %}
<html lang="en" class="mdc-typography">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'material/favicon.png' %}" type="image/png" />
  <title>{% block title %}Material Design for Django{% endblock %}</title>
  {% block css %}{% include 'material/includes/material_css.html' %}{% endblock css %}
  {% block js %}
    {% url 'javascript-catalog' as javascript_catalog_url %}{% if javascript_catalog_url %}<script type="text/javascript" src="{{ javascript_catalog_url }}"></script>{% endif %}
    {% include 'material/includes/material_js.html' %}
  {% endblock js %}
  <style>
    body {
      display: flex;
      justify-content: center;
      background: #eee;
    }
    .page {
      max-width: 845px;
      flex-grow: 1;
    }
  </style>
</head>
<body data-controller="dmc-scroll-lock-fix">
  <div class="page">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
