{% extends 'base.html' %}
{% load material_form %}


{% block content %}
<form method="POST">
  {% csrf_token %}

  <div class="mdc-card mdc-theme--background dmc-card">
    <section class="dmc-card__content">
      <h1 class="dmc-card__title mdc-typography--headline4">{{ form.title }}</h1>
      {% if form.subtitle %}<h2 class="dmc-card__subtitle mdc-typography--subtitle1">{{ form.subtitle }}</h2>{% endif %}
      {% material form form.layout %}
    </section>
    <section class="mdc-card__actions" style="justify-content: flex-end">
      <button class="mdc-button mdc-button--compact mdc-card__action" type="submit">Submit</button>
    </section>
  </div>
</form>

{% if form.cleaned_data %}
<div class="mdc-card mdc-theme--background">
  <section class="mdc-card__supporting-text">
    <pre>{{ form.cleaned_data|pprint }}</pre>
  </section>
</div>
{% endif %}
{% endblock %}
