{% extends 'base.html' %}
{% load material_form %}


{% block content %}
<form method="POST">
  {% csrf_token %}

  <div class="mdc-card mdc-theme--background">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">{{ form.title }}</h1>
      {% if form.subtitle %}<h2 class="mdc-card__subtitle">{{ form.subtitle }}</h2>{% endif %}
    </section>
    <section class="mdc-card__supporting-text">
      {% material form form.layout %}
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" type="reset">Reset</button>
      <button class="mdc-button mdc-button--compact mdc-card__action" type="submit">Submit</button>
    </section>
  </div>
</form>

{% endblock %}
