{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <title>Material Design for Django Forms and Admin</title>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/idea.min.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/python.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/django.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.slider').slider({height:160+$(window).width()/6});
          hljs.initHighlightingOnLoad();
      });
    </script>

    <style type="text/css">
      html, body { background: #e5e5e5; height: 100%; }

      nav { 
          height: 250px;
          background-size: cover;
          background-position: center; 
      }

      h1, h2, h3, h4, h5, h6 { 
          font-weight: 300; 
      }

      main { 
          margin-bottom: -150px; 
      }

      main .container {
          position: relative; top: -200px;
      }

      .card-title {
          font-size: 36px;
      }

      .card .card-action {
          border-top: none;
          padding-top: 10px;
      }

      .card a {
          color: #1e88e5;
      }

      .hljs-string,
      .hljs-keyword,
      .hljs-tag .hljs-title,
      .hljs-attribute,
      .hljs-value {
          font-weight: 300; 
      }

      .hljs-tag {
          background: transparent;
      }
    </style>
  </head>
  <body>
      <header>
          <nav class="green darken-2">
              <div class="nav-wrapper">
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                      <li><a target="_blank" href="https://github.com/viewflow/django-material"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/viewflow"><i class="fa fa-twitter"></i></a></li>
                  </ul>
              </div>
          </nav>
      </header>
      <main>
          <div class="container expand-on-small-only">
               <div class="row">
                   <div class="col s12">
                       <div class="card">
                            <div class="card-content">
                                <div class="row" style="padding:50px">
                                    <div class="col s3 l3 center-align">
                                        <img src="{% static 'img/logo.png' %}" height="120px">
                                    </div>
                                    <div class="col s7 l5">
                                        <span class="card-title
                                        black-text">Django-material</span>
                                        <h6>Material design for django forms and admin</h6>
                                        <h6><a target="_blank" href="http://viewflow.io" style="text-transform:none;margin:0">viewflow.io</a></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m10 offset-m1">
                                        <div class="divider"></div>
                                        <div class="section">
                                            <h5>About</h5>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="section">
                                            <h5>Installation</h5>
django-material tested with Python 2.7/3.3, django 1.6/1.7

<pre><code class="python">    $ pip install django-material </code></pre>

And add it into INSTALLED_APPS settings

<pre><code class="python">    INSTALLED_APPS = (
        'material',
        'material.admin',
       ...
    )
</code></pre>
<b>NOTE:</b> 'material.admin' must be added before 'django.contrib.admin'
                                        </div>
                                        <div class="divider"></div>
                                        <div class="section">
                                            <h5>Quick start</h5>
Include material javascript and styles into your base template.

<pre><code class="django">    {% templatetag openblock %} include 'material/includes/material_css.html' {% templatetag closeblock %}
    {% templatetag openblock %} include 'material/includes/material_js.html' {% templatetag closeblock %}
</code></pre>

Load the `material_form` template tag library
<pre><code class="django">     {% templatetag openblock %} load material_form {% templatetag closeblock %} </code></pre>

And render your form with {% templatetag openblock %} form {% templatetag closeblock %} template tag
<pre><code class="django">    &lt;form method="POST"&gt;
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        {% templatetag openblock %} form form=form {% templatetag closeblock %}{% templatetag openblock %} endform {% templatetag closeblock %}
        &lt;button type="submit" name="_submit" class="btn"&gt;Submit&lt;/button>
    &lt;/form&gt;
</code></pre>

                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                   <div class="col s12">
                       <h4>Forms samples</h4>
                   </div>
                   <div class="col s12 m3">
                       <div class="card">
                           <div class="card-image">
                               <a target="_blank" href="/demo/registration/">
                                   <img src="{% static 'img/registration.png' %}">
                               </a>
                           </div>
                           <div class="card-action right-align">
                               <a href="#">Source</a>
                           </div>
                       </div>
                   </div>
                   <div class="col s12 m3">
                       <div class="card">
                           <div class="card-image">
                               <a target="_blank" href="/demo/order/">
                                   <img src="{% static 'img/order.png' %}">
                               </a>
                           </div>
                           <div class="card-action right-align">
                               <a href="#">Source</a>
                           </div>
                       </div>
                   </div>
                   <div class="col s12 m3">
                       <div class="card">
                           <div class="card-image">
                               <a target="_blank" href="/demo/checkout/">
                                   <img src="{% static 'img/checkout.png' %}">
                               </a>
                           </div>
                           <div class="card-action right-align">
                               <a href="#">Source</a>
                           </div>
                       </div>
                   </div>
                   <div class="col s12 m3">
                       <div class="card">
                           <div class="card-image">
                               <a target="_blank" href="/demo/bank/">
                                   <img src="{% static 'img/bank.png' %}">
                               </a>
                           </div>
                           <div class="card-action right-align">
                               <a href="#">Source</a>
                           </div>
                       </div>
                   </div>
                   <div class="col s12">
                       <h4>Admininstration</h4>
                   </div>
                   <div class="col s12 admin">
                           <div class="col s12 m12 l8 card grey lighten-4" style="padding: 0; padding-bottom: 25px; margin-top: 8px;   box-sizing: border-box;">
                               <div class="slider">
                                   <ul class="slides">
                                       <li>
                                           <a target="_blank" href="/admin/"><img class="responsive-img" src="{% static 'img/admin_main.png' %}"></a>
                                       </li>
                                       <li>
                                           <a target="_blank" href="/admin/auth/user/"><img class="responsive-img" src="{% static 'img/admin_list.png ' %}"></a>
                                       </li>
                                       <li>
                                           <a target="_blank" href="/admin/auth/user/1/"><img class="responsive-img" src="{% static 'img/admin_change.png' %}"></a>
                                       </li>
                                       <li>
                                           <a target="_blank" href="/admin/login/"><img class="responsive-img" src="{% static 'img/admin_login.png' %}"></a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                       <div class="row">

                           <div class="col s12 m12 l4" style="padding-right:0">
                               <div class="col s12 m6 l6">
                                   <div class="card">
                                       <div class="card-image">
                                           <a target="_blank" href="/admin/">
                                               <img src="{% static 'img/admin_main_mobile.png' %}">
                                           </a>
                                       </div>
                                   </div>
                               </div>
                               <div class="col s12 m6 l6">
                                   <div class="card">
                                       <div class="card-image">
                                           <a target="_blank" href="/admin/auth/user/">
                                               <img src="{% static 'img/admin_list_mobile.png' %}">
                                           </a>
                                       </div>
                                   </div>
                               </div>
                               <div class="col s12 m6 l6">
                                   <div class="card">
                                       <div class="card-image">
                                           <a target="_blank" href="/admin/auth/user/1/">
                                               <img src="{% static 'img/admin_change_mobile.png' %}">
                                           </a>
                                       </div>
                                   </div>
                               </div>
                               <div class="col s12 m6 l6">
                                   <div class="card">
                                       <div class="card-image">
                                           <a target="_blank" href="/admin/">
                                               <img src="{% static 'img/admin_menu_mobile.png' %}">
                                           </a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
          </div>
      </main>
      <footer class="page-footer green darken-4">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12">
                      <h5 class="white-text">Footer Content</h5>
                      <p class="grey-text text-lighten-4">You can use
                      rows and columns here to organize your footer
                      content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3"
                          href="#!">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3"
                          href="#!">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3"
                          href="#!">Link 3</a></li>
                          <li><a class="grey-text text-lighten-3"
                          href="#!">Link 4</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                  © 2014 Copyright Text
                  <a class="grey-text text-lighten-4 right"
                  href="#!">More Links</a>
              </div>
          </div>
      </footer>
  </body>
</html>
