html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.turbolinks-progress-bar {
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary,#ff4081);
}

.dmc-responsive-drawer {
  .mdc-list-group__subheader--dmc {
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.54);
  }

  .mdc-list-item--dmc>i.material-icons {
    width: 24px;
    height: 24px;
    margin-left: 0;
    margin-right: 32px;
    color: rgba(0, 0, 0, 0.54);
  }

  .mdc-permanent-drawer--selected.mdc-list-item--dmc>i.material-icons {
    color: #3f51b5;
    color: var(--mdc-theme-primary, #3f51b5);
  }

  .mdc-persistent-drawer__header,
  .mdc-temporary-drawer__header {
    color: white;
    color: var(--mdc-theme-text-primary-on-secondary-dark, white);
    background: linear-gradient(110deg, #3f51b5, 60%, #6f7dcd 60%);
    background: linear-gradient(
      110deg,
      var(--mdc-theme-primary, #3f51b5) 60%,
      var(--mdc-theme-primary-dark, #6f7dcd) 60%
    );
  }
}

.dmc-page {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background: #eee;

  .dmc-page__body {
    flex-grow: 1;

    .mdc-toolbar {
      margin-left: -1px;
    }
  }
}

.dmc-header {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .dmc-header__avatar {
    height: 54px;
    width: 54px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

  .dmc-header__info {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .dmc-header__subtitle {
      font-size: 13px;
      color:rgba(255, 255, 255, 0.7);
      color: var(--mdc-theme-text-secondary-on-primary-dark, rgba(255, 255, 255, 0.7));
    }

    .dmc-header__menu .mdc-button {
      color:white;
      color: var(--mdc-theme-text-primary-on-primary-dark, white);

      margin-right: -16px;
      margin-bottom: -4px;

      i.material-icons {
        display: inline-flex;
        vertical-align: middle;
      }
    }
  }
}

.dmc-header-menu__secondary {
  display: none;
}

.dmc-header__menu i.material-icons {
  transform: rotate( -360deg );
  transition: transform 150ms linear;
}

.dmc-header-secondary-shown {
  .dmc-header-menu__primary {
    display: none;
  }
  .dmc-header-menu__secondary {
    display: initial;
  }

  i.material-icons {
    transform: rotate( -180deg );
    transition: transform 150ms linear;
  }
}
