.dmc-list {
  overflow: initial;
  margin: 8px;
  background: #fff;
  background: var(--mdc-theme-background, #fff);

  .mdc-card__primary {
    padding-left: 24px;
    padding-bottom: 8px;
    position: relative;
  }
}

@media (max-width: 600px) {
  .dmc-list {
    margin: 0px;
  }
}

.dmc-list__menu {
  position: absolute;
  right: 8px;
  top: 16px;

  .mdc-list {
    padding-right: 0;
    padding-left: 0;

    i.material-icons {
      margin-right: 16px;
    }

    .mdc-list-item {
      padding-left: 56px;
    }

    .mdc-list-item--with-icon {
      padding-left: 16px;
    }
  }
}

.dmc-list__menu-trigger {
  padding-left: 8px;
  padding-right: 8px;
  min-width: auto;
  display: inline-flex;

  &:not(:disabled) {
    color: black;
  }
}

.dmc-list-table {
  width:100%;
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Roboto, sans-serif;

  thead > tr,
  tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  td, th{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }

  tbody, thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    display: block;
    position: sticky;
    top: 0;
    background: #fff;
    background: var(--mdc-theme-background, #fff);

    th {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    tr>th:first-child {
      padding-left: 24px;
    }

    tr>th:last-child {
      padding-right: 24px;
    }
  }

  tbody {
    td {
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      i.material-icons {
        color: rgba(0, 0,0, 0.70);
      }
    }

    tr>td:first-child {
      padding-left: 24px;
    }

    tr>td:last-child {
      padding-right: 24px;
    }
  }

  .dmc-list-table__header-numeric, .dmc-list-table__cell-numeric {
    text-align: right
  }
}

.dmc-list-pagination {
  height: 56px;
  line-height: 56px;
  text-align: right;
  padding-right: 14px;
  color: rgba(0, 0, 0, 0.54);

  .dmc-list-pagination__summary {
    font-size: 14px;
  }
  .dmc-list-pagination-container {
    display: inline-block;
    margin: 0px;
    padding-left: 8px;
  }

  .dmc-list-pagination-item {
    display: inline-block;
    margin-left: 24px;

    a {
      color: rgba(0, 0, 0, 0.87);
    }
    i.material-icons {
      vertical-align: middle;
      font-size: 24px;
    }
  }

  .dmc-list-pagination-item--disabled {
    user-select: none;
    -webkit-user-select: none;

    a {
      color: rgba(0, 0, 0, 0.12);
    }
  }
}
