{% extends 'material/base.html' %}
{% load i18n static %}

{% block js %}
{{ block.super }}
<script src="{% static 'material/js/django-material-components-profile.js' %}" async="false"></script>
{% endblock js %}

{% block sidebar-app-menu %}
<nav class="mdc-list">
  <div class="mdc-list-group">
    <a class="mdc-list-item mdc-list-item--dmc" href="/">
      <i class="material-icons">arrow_back</i> {% trans 'View site' %}
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
Password change form
{% endblock %}
