{% extends 'material/base.html' %}
{% load i18n static %}

{% block js %}
{{ block.super }}
<link href="{% static 'material/css/django-material-frontend-profile.css' %}" rel="stylesheet">
<script src="{% static 'material/js/django-material-frontend-profile.js' %}" async="false"></script>
{% endblock js %}

{% block sidebar-app-menu %}
<nav class="mdc-list">
  <div class="mdc-list-group">
    <a class="mdc-list-item mdc-list-item--dmc" href="/">
      <i class="material-icons">arrow_back</i> {% trans 'View site' %}
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="mdc-layout-grid dmc-profile" data-mdc-auto-init="DMCProfilePage">
  <div class="mdc-layout-grid__inner dmc-profile-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
      <div class="mdc-card dmc-profile-detail">
        <section class="mdc-card__primary">
          <h1 class="mdc-card__title mdc-card__title--large">John Doe</h1>
          <h2 class="mdc-card__subtitle">admin@admin.com</h2>
        </section>
        <section>
          <table class="dmc-list-table">
            <tbody>
              {% for field, field_name, value in view.get_object_data %}
              <tr>
                <th>{{ field_name }}</th>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
        <section class="mdc-card__actions dmc-form-page__actions">
          {% url 'password_change' as password_change_url %}
          {% if password_change_url %}
          <a class="mdc-button" href="{{ password_change_url }}">Change password</a>
          {% endif %}
          {% url 'profile_edit' as profile_edit_url %}
          {% if profile_edit_url %}
          <a class="mdc-button mdc-button--raised" href="{{ profile_edit_url }}">Edit</a>
          {% endif %}
        </section>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
      <div class="mdc-card dmc-profile-avatar">
          <section class="mdc-card__media dmc-profile-avatar__media">
            <img src="{% static 'material/img/user.png' %}">
            <div class="dmc-profile-avatar__shadow"></div>
          </section>
          <section class="mdc-card__actions dmc-form-page__actions">
              <div class="mdc-button mdc-button--raised mdc-card__action dmc-profile-avatar__change">
                Change
                <input type="file">
              </div>
          </section>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
