{% extends request.resolver_match.app.base_template_name|default:'material/base_site.html' %}
{% load material_form material_site %}

{% block content %}
<div class="mdc-card">
  <section class="mdc-card__primary">
    <h1 class="mdc-card__title mdc-card__title--large">{{ view.model|verbose_name_plural|title }} </h1>
    <h2 class="mdc-card__subtitle">
      <a href="#">Atlas</a> >
      <a href="#">{{ view.model|verbose_name_plural|title }}</a> >
      Add
    </h2>
  </section>

  <section>
    <form method="POST">
      {% material form %}
    </form>
  </section>
</div>
{% endblock content %}
