{% extends request.resolver_match.app.base_template_name|default:'material/base_site.html' %}
{% load material_form material_site %}

{% block content %}
<div class="mdc-card dmc-form-page">
  <section class="mdc-card__primary">
    {% block list-header-title %}<h1 class="mdc-card__title mdc-card__title--large">Add {{ view.model|verbose_name|title }} </h1>{% endblock %}
    {% block list-header-subtitle %}
    <h2 class="mdc-card__subtitle">
      <a href="#">Atlas</a> >
      <a href="#">{{ view.model|verbose_name_plural|title }}</a>
      Add
    </h2>
    {% endblock %}
    {% block list-header-menu %}{% include 'material/includes/view_action_menu.html' with view=view only %}{% endblock %}
  </section>

  <form method="POST" data-mdc-auto-init="DMCTurbolinksForm"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <section class="dmc-form-page__form">
      {% material form view.layout %}
    </section>
    <section class="mdc-card__actions dmc-form-page__actions">
      <button class="mdc-button mdc-button--raised dmc-action-button" type="submit">Save</button>
    </section>
  </form>
</div>
{% endblock content %}
