{% extends request.resolver_match.app.base_template_name|default:'material/base_site.html' %}
{% load material_site %}

{% block content %}
<div class="mdc-card dmc-list">

  {% block list-header %}
  <section class="mdc-card__primary">
    <h1 class="mdc-card__title mdc-card__title--large">{{ view.model|verbose_name_plural|title }} </h1>
    <h2 class="mdc-card__subtitle"><a href="#">Atlas</a> > {{ view.model|verbose_name_plural|title }}</a></h2>
    <div class="dmc-list__menu mdc-menu-anchor" data-mdc-auto-init="DMCActionMenu">
      <button class="mdc-button dmc-list__menu-trigger">
        <i class="material-icons">more_vert</i>
      </button>
      <div class="mdc-simple-menu" tabindex="-1">
        <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
          <li class="mdc-list-item" role="menuitem" tabindex="0" data-dmc-menu-href="{% url 'atlas:city:add' %}">
            A Menu Item
          </li>
          <li class="mdc-list-item" role="menuitem" tabindex="0">
            Another Menu Item
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% endblock list-header %}

  {% block list-content %}
  <section>
    <table class="dmc-list-table">
      <thead>
        <tr>
          {% for column in view.list_columns %}
          <th class="dmc-list-table__header-{{ column.column_type }}">{{ column.header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in page_obj|default:object_list|list_page_data:view %}
        <tr>
          {% for column, value in row %}<td class="dmc-list-table__cell-{{ column.column_type }}">{{ value }}</td>{% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endblock list-content %}

  {% block list-pagination %}
  <section id="pagination" class="dmc-list-pagination">
    <span class="dmc-list-pagination__summary">
      {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
    </span>
    <ul class="dmc-list-pagination-container" role="navigation">
      {% if page_obj.has_previous %}
        <li class="dmc-list-pagination-item">
          <a href="?page={{ page_obj.previous_page_number }}#pagination">
              <i class="material-icons">navigate_before</i>
          </a>
        </li>
      {% else %}
      <li class="dmc-list-pagination-item dmc-list-pagination-item--disabled" aria-hidden="true">
        <i class="material-icons">navigate_before</i>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="dmc-list-pagination-item">
        <a href="?page={{ page_obj.next_page_number }}#pagination">
            <i class="material-icons">navigate_next</i>
        </a>
      </li>
      {% else %}
      <li class="dmc-list-pagination-item dmc-list-pagination-item--disabled" aria-hidden="true">
          <i class="material-icons">navigate_next</i>
      </li>
      {% endif %}
    </ul>
  </section>
  {% endblock list-pagination %}

</div>
{% endblock %}
