{% load admin_static %}
<script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'material/js/jquery.formset.js' %}"></script>
<script src="{% static 'material/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'material/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'material/js/dataTables.fixedHeader.js' %}"></script>
<script src="{% static 'material/js/materialize.js' %}"></script>
<script src="{% static 'material/js/material_init.js' %}"></script>
<script src="{% static 'material/admin/js/admin_init.js' %}"></script>
