<button type="button" aria-haspopup="true" aria-expanded="false" class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-on-surface/10 focus:outline-none focus:bg-on-surface/10 focus-visible:ring-2 focus-visible:ring-primary">
  <span class="sr-only">Card menu</span>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <circle cx="12" cy="6" r="2" fill="currentColor" />
    <circle cx="12" cy="12" r="2" fill="currentColor" />
    <circle cx="12" cy="18" r="2" fill="currentColor" />
  </svg>
</button>