.dmc-form-page {
  overflow: initial;
  flex-grow: 1;
  margin: 8px;
  background: #fff;
  background: var(--mdc-theme-background, #fff);
  max-width: 1200px;

  .dmc-form-page__header {
    padding-left: 24px;
    position: relative;
  }

  a {
    text-decoration: none;
    color: var(--mdc-theme-primary, #3f51b5);
  }

  .mdc-typography--headline {
    margin-bottom: 0;
  }
}

.dmc-form-page__form {
  padding-left: 24px;
  padding-right: 24px;
}

.dmc-form-page__actions {
  justify-content: flex-end;
  padding: 24px;
  padding-bottom: 12px;
}

@media (max-width: 600px) {
  .dmc-form-page {
    margin: 0px;
  }
}
