<c-vars
  color="primary"
  base_class="inline-flex relative items-center justify-center rounded-full px-6 py-2 font-medium text-sm leading-6 overflow-hidden"
  state_class="transition-all duration-300 ease-in-out hover:shadow-md focus:outline-none focus:shadow-md active:ripple"
  disabled_class="disabled:bg-surface-variant disabled:text-on-surface-variant disabled:shadow-none disabled:cursor-not-allowed"
  icon_class="material-icons mr-2 leading-[1px] text-lg" />

<button
  class="{{ base_class }} {{ state_class }} {{ disabled_class }} bg-{{ color }}-container text-on-{{ color }}-container hover:bg-{{ color }}-container/80 focus:bg-{{ color }}-container/70 {{ class }}"
  {% if disabled %}disabled{% endif %}
  {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
  role="button"
  up-ripple
  {{ attrs }}>
  {% if icon %}
    <span class="{{ icon_class }}" aria-hidden="true">{{ icon }}</span>
  {% endif %}
  {{ slot }}
</button>