<c-vars
  base_class="min-w-full border-collapse"
  class=""
  caption=""
  density="default"
/>

<table class="{{ base_class }} {{ class }}" data-density="{{ density }}" {{ attrs }}>
  {% if caption %}
    <caption class="text-lg font-medium my-2 text-left">{{ caption }}</caption>
  {% endif %}
  {% if header %}
    <thead class="bg-primary/10 text-on-surface border-b border-outline-variant">
      {{ header }}
    </thead>
  {% endif %}
  <tbody class="divide-y divide-outline-variant">
    {{ slot }}
  </tbody>
  {% if footer %}
    <tfoot class="border-t border-outline-variant">
      {{ footer }}
    </tfoot>
  {% endif %}
</table>
