<c-vars
  class="flex justify-end items-center py-3 px-4 border-t border-outline-variant"
  current_page="1"
  total_pages="1"
/>

<nav class="{{ class }}" aria-label="Pagination navigation" {{ attrs }}>
  <div class="flex items-center">
    <span class="text-sm text-on-surface-variant mr-4">Page {{ current_page }} of {{ total_pages }}</span>
    <div class="flex">
      <button 
        type="button"
        class="p-1 rounded-full hover:bg-surface-container-highest disabled:opacity-50" 
        aria-label="Go to previous page{% if current_page == 1 %}, disabled{% endif %}"
        {% if current_page == 1 %}disabled{% endif %}>
        <span class="material-symbols" aria-hidden="true">navigate_before</span>
      </button>
      <button 
        type="button"
        class="p-1 rounded-full hover:bg-surface-container-highest disabled:opacity-50" 
        aria-label="Go to next page{% if current_page == total_pages %}, disabled{% endif %}"
        {% if current_page == total_pages %}disabled{% endif %}>
        <span class="material-symbols" aria-hidden="true">navigate_next</span>
      </button>
    </div>
  </div>
</nav>