{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}{{ site_header|default:_('Django administration') }}{% endblock %}
{% block nav-global %}{% endblock %}

{% block extrajs %}
{% if user.is_anonymous %}
<script type="text/javascript">
toast('Use  admin:admin  to log into administration interface', 100000, 'alert-error');
</script>
{% endif %}
{% endblock %}


{% block back_link %}
<li class="no-padding"><a class="collapsible-header no-pjax" href="/accounting/"><i class="mdi-navigation-arrow-back"></i> Back to website</a></li>
{% endblock %}
