{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}<i class="material-icons" style="font-size:80px">settings_applications</i>{% endblock %}

{% block extrastyle %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrajs %}
{% if user.is_anonymous %}
<script type="text/javascript">
Materialize.toast('Use  admin:admin  to log into administration interface', 100000, 'alert-error');
</script>
{% endif %}
{% endblock %}


{% block back_link %}
<li class="no-padding"><a class="collapsible-header no-pjax" href="/accounting/"><i class="material-icons">arrow_back</i> Back to website</a></li>
{% endblock %}
