{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!--link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css" rel="stylesheet"-->
        <link href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" rel="stylesheet">
        {% include 'material/includes/material_css.html' %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'material/admin/css/base.css' %}{% endblock %}" />
        {% block extrastyle %}{% endblock %}

        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        {{ media.js }}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>
    {% load i18n %}

    <body>
        {% if not is_popup %}
        <header>
            <nav id="header" class="nav-top">
                <a href="/" class="brand-logo hide-on-med-and-down">{% block brand-logo %}Admininstration{% endblock %}</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse full"><i class="mdi-navigation-menu"></i></a>
                <ul id="nav-mobile" class="side-nav fixed">
                    <li class="logo">
                        <a id="logo-container" href="/admin">
                            <img class="responsive-img" src="{% static 'material/admin/img/logo.png' %}">
                        </a>
                    </li>

                    {% block breadcrumbs %}
                    <li class="active"><a href="/admin/">Admininstration</a></li>
                    {% endblock %}
                    {% if user.is_authenticated %}
                    <li class="logout"><a href="{% url 'admin:logout' %}"><i class="mdi-action-lock-open"></i> {% trans 'Log out' %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% endif %}

        <main>
            {% block content %}
            {{ content }}
            {% endblock %}
        </main>

        {% include 'material/includes/material_js.html' %}
        <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js" type="text/javascript"></script>
        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datatables-fixedheader/2.1.1/dataTables.fixedHeader.js" type="text/javascript"></script>
        {% block extrajs %}{% endblock %}

        {% block messages %}
        {% if messages %}
        <script type="text/javascript">
            $(document).ready(function() {
                {% for message in messages %}
                toast('{{ message|capfirst }}', 10000, 'alert-{{ message.tags }}') 
                {% endfor %}
            });
        </script>
        {% endif %}
        {% endblock messages %}
    </body>
</html>
