{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}


{% block brand-logo %}{{ title }}{% endblock %}


{% if not is_popup %}
{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'All apps' %}</a> &rang;
<a href="{% url opts|admin_urlname:'changelist' %}"><i class="fa adm-app-default adm-{{ opts.app_label }}-{{ opts.object_name|lower }}"></i> &nbsp;&nbsp;{{ opts.verbose_name_plural|capfirst }}</a> &rang;
<a href="{% url opts|admin_urlname:'changelist' %}">{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{% trans 'Change' %}{% endif %}</a>
{% endblock %}
{% endif %}


{% block content %}
<div class="row change-form">
    <div class="col s12 m12 l12">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
            <div class="card">
                <div class="card-content">
                    {% csrf_token %}
                    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
                    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                    <span class="card-title black-text">{% if add %}{% trans 'New' %} {{ opts.verbose_name }}{% else %}{{ adminform.form.instance|title }}{% endif %}</span>
                    {% if errors %}
                    <div class="row">
                        <div>
                            <small class="errornote">
                                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                            </small>
                        </div>
                        {% if adminform.form.non_field_errors %}
                        <div>
                            <small class="errornote">{{ adminform.form.non_field_errors }}</small>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% block change_form %}
                        {% fieldset_layout adminform inline_admin_formsets as layout %}
                        {% form form=adminform.form layout=layout %}{% endform %}
                        {% prepopulated_fields_js %}
                    {% endblock %}
                    {% block after_related_objects %}{% endblock %}
                </div>
                <div class="card-action">
                    <div class="right-align">
                        {% submit_row %}
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
