{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main" class="col-xs-12">
    {% if app_list %}
    {% for app in app_list %}
    <div class="col-lg-4">
        <div class="app-{{ app.app_label }} panel panel-primary bootcards-summary">
            <div class="panel-heading">
			    <h3 class="panel-title">{{ app.name }}</h3>
		    </div>
            <div class="panel-body">
                <div class="row">                
                    {% for model in app.models %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
					    <a class="bootcards-summary-item" href="{{ model.admin_url }}" style="padding-top:35px">
                            <i class="fa fa-3x fa-users"></i> <h5 style="word-wrap: break-word;">{{ model.name }}</h5>
                        </a>
				    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}
