{% extends "admin/base_site.html" %}
{% load i18n admin_static material_admin %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="app-list">
        {% get_app_list request as app_list %}
        {% for app in app_list %}
        <div class="app">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">{{ app.name }}</span>
                    <div class="row">
                        {% for model in app.models %}
                        <div class="app-item col s6 m6 l4">
                            <a href="{{ model.admin_url }}">
                                {{ model.icon }}
                                <h6 style="truncate word-wrap: break-word;">{{ model.name }}</h6>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
