{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'All apps' %}</a> &rang;
<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>  &rang;
<a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>  &rang;
<a>{% trans 'History' %}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-content">
                {% if action_list %}
                <table id="change-history" class="table">
                    <thead>
                        <tr>
                            <th scope="col">{% trans 'Date/time' %}</th>
                            <th scope="col">{% trans 'User' %}</th>
                            <th scope="col">{% trans 'Action' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in action_list %}
                        <tr>
                            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
                            <td>{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
                            <td>{{ action.change_message }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
