{% load i18n admin_static %}
{% if cl.search_fields %}
<div class="row" style="margin-top:-10px">
    <div class="input-field col s12">
        <input type="text" data-name="{{ search_var }}" value="{{ cl.query }}" id="searchbar"/>
        <label for="searchbar" class="{% if cl.query %}active{% endif %}">{% trans 'Search' %} {{ cl.opts.verbose_name_plural|capfirst }}</label>
        <a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>
        {% if show_result_count %}
        <small>{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</small>
        {% endif %}
    </div>
</div>
{% endif %}
