{% load i18n admin_urls %}

{% if show_delete_link %}
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
<a href="{% add_preserved_filters delete_url %}" class="deletelink waves-effect waves-light btn red white-text">{% trans "Delete" %}</a>
{% endif %}
<a class='dropdown-button btn white-text' href='#' data-activates='saveDropdown'>Save</a>
<ul id='saveDropdown' class='dropdown-content'>
  {% if show_save_as_new %}<li><input type="submit" value="{% trans 'Save as new' %}" class="waves-effect waves-light btn white-text" name="_saveasnew" /></li>{% endif %}
  {% if show_save %}<li class="liDropDownAdmin"><input type="submit" value="{% trans 'Save' %}"  class="btnDropDownAdmin waves-effect waves-light btn white-text" name="_save" /></li>{% endif %}
  {% if show_save_and_continue %} <li class="liDropDownAdmin"> <input type="submit" value="{% trans 'Save and continue editing' %}" class="btnDropDownAdmin waves-effect waves-light btn white-text" name="_continue" /> </li> {% endif %}
  {% if show_save_and_add_another %} <li class="liDropDownAdmin"> <input type="submit" value="{% trans 'Save and add another' %}" class="btnDropDownAdmin waves-effect waves-light btn white-text" name="_addanother" /> </li> {% endif %}
</ul>



