{% load i18n admin_urls %}

{% if show_save_and_add_another or show_save_and_continue %}
<div class="left">
    <a class='dropdown-admin dropdown-button waves-effect waves-light black-text' href='#' data-activates='save-dropdown-admin' style="padding:4px 15px 2px 15px;">
        <i class="material-icons">save</i>
        <i class="material-icons">arrow_drop_down</i>
    </a>
    <ul id='save-dropdown-admin' class='dropdown-content'>
        {% if show_save_and_add_another %}
        <li class="li-dropdown-admin">
            <input type="submit" value="{% trans 'Save and add another' %}" class="btn-flat" name="_addanother" />
        </li>
        {% endif %}
        {% if show_save_and_continue %}
        <li class="li-dropdown-admin">
            <input type="submit" value="{% trans 'Save and continue editing' %}" class="btn-flat" name="_continue" />
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}    

<div class="right-align">
    {% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="deletelink waves-effect waves-light btn red white-text">{% trans "Delete" %}</a>
    {% endif %}
    {% if show_save %}
        <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Save' %}</button>
    {% endif %}
</div>
