{% load material_form material_form_internal %}
<div class="section row">
    <div class="formset-field col s12" data-formset-prefix="{{ inline.prefix }}">
    {% part inline label %}{% if parent.label %}<h5>{{ parent.label|default:"" }}</h5>{% endif %}{% endpart %}
        <script type="form-template" data-formset-empty-form>
            <tr data-formset-form>
                {% with form=inline.empty_form %}
                {% part inline.empty_form hidden %}{% for hidden in inline.empty_form.hidden_fields %}{{ hidden }}{% endfor %}{% endpart %}
                {% part form visible %}{% for bound_field in inline.empty_form.visible_fields %}
                {% if bound_field.name != 'DELETE' %}
                <td>{% render bound_field %}{% endrender %}</td>
                {% else %}
                <td style="vertical-align: middle">
                    <div style="display:none">{{ bound_field }}</div>
                    <button type="button" class="btn btn-flat white lighten-4" style="padding:0px 10px;font-size:0.7rem;height:calc(100% - 15px);width:100%" data-formset-delete-button><i class="mdi-content-clear"></i></button>
                </td>
                {% endif %}
                {% endfor %}{% endpart %}{% endwith %}
            </tr>
        </script>
        <table class="table responsive-table">
            <tbody data-formset-body>
                {% for form in inline.forms %}
                <tr data-formset-form>
                    {% part form hidden %}{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}{% endpart %}
                    {% part form visible %}{% for bound_field in form.visible_fields %}
                    {% if bound_field.name != 'DELETE' %}
                    <td>{% render bound_field %}{% endrender %}</td>
                    {% else %}
                    <td style="vertical-align: middle;width:40px">
                        <div style="display:none">{{ bound_field }}</div>
                        <button type="button" class="btn btn-flat white lighten-4" style="padding:0px 10px;font-size:0.7rem;height:calc(100% - 15px);width:100%" data-formset-delete-button><i class="mdi-content-clear"></i></button>
                    </td>
                    {% endif %}
                    {% endfor %}{% endpart %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <button type="button" class="btn btn-flat grey lighten-4" style="padding:0px 40px;width:calc(100% - 30px);margin-left:15px;" data-formset-add><i class="mdi-content-add"></i></button>
        </div>
        {{ inline.management_form }}
    </div>
</div>
