@theme {
  --animate-ripple: ripple 0.6s linear;
  @keyframes ripple {
    /* The initial state is defined on the element so we only need the to-state */
    to {
      transform: translate(-50%, -50%) scale(50);
      opacity: 0;
    }
  }
}

@layer utilities {
  .active\:ripple:active::after {
    content: "";
    position: absolute;
    left: var(--ripple-x, 50%);
    top: var(--ripple-y, 50%);
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: var(--animate-ripple);
    pointer-events: none;
  }
}
