@import './dmc-alert/dmc-alert';
@import './dmc-breadcrumbs/dmc-breadcrumbs';
@import './dmc-card/dmc-card';
@import './dmc-checkbox-field/dmc-checkbox';
@import './dmc-datetime-fields/dmc-datetime';
@import './dmc-drawer/dmc-drawer';
@import './dmc-form-page/dmc-form-page';
@import './dmc-form/dmc-form';
@import './dmc-input-field/dmc-text-field';
@import './dmc-list/dmc-list';
@import './dmc-lockscreen/dmc-lockscreen';
@import './dmc-page/dmc-page';
@import './dmc-password-field/dmc-password-field';
@import './dmc-select-field/dmc-select-field';


html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: #eee;
}

.turbolinks-progress-bar {
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary,#ff4081);
}
