@import './forms/checkbox-field/dmc-checkbox';
@import './forms/datetime-fields/dmc-datetime';
@import './forms/form/dmc-form';
@import './forms/input-field/dmc-text-field';
@import './forms/password-field/dmc-password-field';
@import './forms/select-field/dmc-select-field';

@import './site/alert/dmc-alert';
@import './site/breadcrumbs/dmc-breadcrumbs';
@import './site/card/dmc-card';
@import './site/drawer/dmc-drawer';
@import './site/form-page/dmc-form-page';
@import './site/list/dmc-list';
@import './site/lockscreen/dmc-lockscreen';
@import './site/page/dmc-page';


html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: #eee;
}

.turbolinks-progress-bar {
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary,#ff4081);
}
