@import 'frontend/dmc-breadcrumbs';
@import 'frontend/dmc-form';
@import 'frontend/dmc-layout';
@import 'frontend/dmc-table';
@import 'frontend/dmc-lockscreen';

.dmc-action-button {
  &[type=submit]:disabled {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)),
        color-stop(.25, transparent),
        color-stop(.5, transparent),
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)),
        color-stop(.75, transparent),
        to(transparent));
    background-size: 50px 50px;
    animation: animate-stripes 2s linear infinite;
  }
}

@keyframes animate-stripes {
  from {
      background-position: 0 0;
  }
  to {
     background-position: -50px 0;
  }
}

.dmc-alert {
  padding: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-primary-on-secondary, rgba(0, 0, 0, 0.54));
  background-color: #ff87b0;
  background-color: var(--mdc-theme-secondary-light, #ff87b0);
}
