.dmc-form {
  padding: 0;

  .dmc-form__visiblefields  {
    grid-gap: 0;
  }
}

.dmc-form-field {
    display: block;
    width: 100%;

    .dmc-text-field, .dmc-text-field__input {
        width: 100%
    }
}
