.dmc-form {
  padding: 0;

  .dmc-form__visiblefields  {
    grid-gap: 0;
  }

  .dmc-form__formset-header {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
  }
}

.dmc-form-field {
    display: flex;
    width: 100%;

    &.dmc-form-field--invalid {
      >.material-icons {
        color: #d50000;
      }
    }

    >.material-icons:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    >.material-icons {
      padding-bottom: 16px;

      &:first-child {
        margin-right: 16px;
      }

      &:last-child {
        margin-left: 8px;
      }
    }

    .dmc-form-field__input {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
}

@import 'forms/dmc-calendar';
@import 'forms/dmc-text-field';

.dmc-password-field {
  .dmc-text-field__input{
    padding-right: 24px;
  }

  .dmc-password-field__toggle {
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
  }
}

.dmc-checkbox-field {
  margin-top: 12px;
  margin-bottom: 7px;

  &.dmc-form-field--invalid .dmc-text-field-helptext,
  &.dmc-form-field--invalid label {
    opacity: 1;
    color: #d50000;
  }

  &.dmc-form-field--invalid .mdc-checkbox__background {
    border-color: rgba(213, 0, 0, 0.54) !important;
  }

  .dmc-text-field-helptext {
    margin-bottom: 0px !important;
    margin-top: -3px;
    margin-left: 40px;
    padding-left: 4px;
  }
}

.dmc-select-field {
  &.dmc-form-field--invalid {
    // .mdc-select {
    //   color: #d50000;
    //   border-bottom: 1px solid #d50000;
    // }
    .dmc-select-field__helptext {
      color: #d50000;
    }
  }

  .dmc-form-field__input {
    overflow: hidden;

    select.mdc-select {
      display: none;
      max-width: 100%;
    }

    @media (max-width: 600px) and (pointer: coarse) {
      .mdc-select[role="listbox"] {
        display: none;
      }

      select.mdc-select {
        display: block;
      }
    }
  }

  .dmc-select-field__label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    line-height: 15px;
  }

  .dmc-select-field__helptext {
    margin: 8px 0 8px 0;
    color: rgba(0, 0, 0, 0.38);
    color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38));
    font-size: 11px;
  }

  .dmc-select-field__group {
    margin-top: 0px;
    padding: 0px;

    .mdc-list-item {
      padding-left: 32px;
      color: rgba(0, 0, 0, 0.54);
      color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, 0.54));
    }

    .mdc-list-item[aria-selected="true"] {
      color: rgba(0, 0, 0, 0.87);
      color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
    }

    .dmc-select-field__groupheader {
      padding-left: 16px;
    }
  }
}
