{% extends 'material/base_page.html' %}
{% load i18n %}

{% block nav_header %}
  <div class="flex items-center mb-2 mt-2 pl-2 text-primary">
    <span class="material-icons mr-2">widgets</span>
    <span class="text-xl">Form Widgets</span>
  </div>
{% endblock nav_header %}

{% block nav_items %}
  <c-nav.item icon="arrow_back" href="{% url 'index' %}" up_target="main, nav">Home</c-nav.item>
  <c-nav.item icon="check_box" href="/widgets/checkbox/">Checkbox</c-nav.item>
{% endblock nav_items %}

{% block content %}
<div class="container mx-auto px-4 py-12 flex justify-center">
  <form method="post" class="w-full max-w-2xl">
    {% csrf_token %}
    <c-card.elevated title="{{ title }}">
      <div class="space-y-6">
        {{ form.as_p }}
      </div>
      
      <c-slot name="footer">
        <c-button.filled type="submit">Submit</c-button.filled>
      </c-slot>
    </c-card.elevated>
  </form>
</div>
{% endblock %}