<nav up-nav role="navigation" aria-label="Main navigation" class="p-2 flex flex-col min-w-[280px] w-[280px] max-w-[280px] flex-shrink-0 bg-surface shadow-md h-screen sticky top-0 transition-all duration-300 ease-in-out">
  {% if header %}
    <div class="p-2">
      {{ header }}
    </div>
  {% endif %}
  <ul role="list" class="flex-grow min-h-0 overflow-y-auto list-none">
    {{ slot }}
  </ul>
  {% if footer %}
    <div class="mt-auto pt-6 border-t border-outline-variant">
      <div class="flex items-center space-x-3">
        {{ footer }}
      </div>
    </div>
  {% endif %}
</nav>