<c-vars
  href="#" />

<li role="listitem" class="list-none">
  <a href="{{ href }}" up-target="main" up-transition="cross-fade" aria-current="page" class="relative overflow-hidden flex items-center px-2 py-3 rounded-full transition-all duration-300 ease-in-out hover:bg-primary hover:text-on-primary focus:outline-none focus-visible:ring focus-visible:ring-primary active:ripple" {{ attrs }}>
    {% if icon %}
      <span class="material-icons pl-2 mr-1 leading-[1px]">{{ icon }}</span>
    {% endif %}
    <span class="ml-4">{{ slot }}</span>
  </a>
</li>
