html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: #eee;
}

.turbolinks-progress-bar {
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary,#ff4081);
}

.dmc-alert {
  padding: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-primary-on-secondary, rgba(0, 0, 0, 0.54));
  background-color: #ff87b0;
  background-color: var(--mdc-theme-secondary-light, #ff87b0);
}
