.dmc-page {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}

.dmc-page__body {
  flex-grow: 1;
}

.dmc-page__toolbar {
  z-index: 1;
  margin-left: -1px;
}

.dmc-page__drawer {

}
