/*
.dmc-page-header {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.dmc-page-header__avatar {
  height: 54px;
  width: 54px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.dmc-page-header__info {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.dmc-page-header__subtitle {
  font-size: 13px;
  color:rgba(255, 255, 255, 0.7);
  color: var(--mdc-theme-text-secondary-on-primary-dark, rgba(255, 255, 255, 0.7));
}

.dmc-page-menu__secondary {
  display: none;
}

.dmc-page-header__menu-button {
  color:white;
  color: var(--mdc-theme-text-primary-on-primary-dark, white);

  margin-right: -16px;
  margin-bottom: -4px;

  i.material-icons {
    display: inline-flex;
    vertical-align: middle;
    transform: rotate( -360deg );
    transition: transform 150ms linear;
  }
}


.dmc-header-secondary-shown {
  .dmc-header-menu__primary {
    display: none;
  }
  .dmc-header-menu__secondary {
    display: initial;
  }
}

button.dmc-header-secondary-shown {
  i.material-icons {
    transform: rotate( -180deg );
    transition: transform 150ms linear;
  }
}
*/
