{% load material_form material_form_internal %}
<div class="row">
    <div {% tagattrs %}
         id="id_{{ bound_field.html_name }}_container"
         class="{% part field group_class %}input-field file-field col s12
                {% if field.required%}required{% endif %}
                {% if bound_field.errors %}has-error{% endif %}
                {% part field add_group_class %}{% endpart %}
                {% endpart %}"{% endtagattrs %}>
        {% part field prefix %}{% endpart %}{% part field control %}
        <div class="btn">
            <span>File</span>
            <input type="file" />
        </div>
        <input {% tagattrs %}
               type="text"
               class="file-path validate {% part field add_control_class %}{{ form_control_class }}{% endpart %}"
               name="{{ bound_field.html_name }}"
               {% if form_with_placeholder %}placeholder="{{ bound_field.label }}"{% endif %}
               id="id_{{ bound_field.html_name }}"{% endtagattrs %}{% if bound_field.value %} value="{{ bound_field.value }}"{% endif %}>
        {% endpart %}{% part field label %}
        {% endpart %}{% part field help_text %}
        {% if field.help_text %}
        <small class="help-block">{{ bound_field.help_text }}</small>
        {% endif %}
        {% endpart %}{{ hidden_initial }}
    </div>
</div>
