{% load material_form material_form_internal debug_tags %}
<div class="row">
<div {% tagattrs %}
     class="{% part field group_class %}select-field col s12
            {% if field.required%}required{% endif %}
            {% if bound_field.errors %}has-error{% endif %}
            {% part field add_group_class %}{% endpart %}
            {% endpart %}"{% endtagattrs %}>
    {% part field prefix %}{% endpart %} {% part field control %}
    <select {% tagattrs %}
            class="{% part field add_control_class %}{% endpart %}"
            name="{{ bound_field.html_name }}"
            id="id_{{ bound_field.html_name }}"{% endtagattrs %}>
        {% for value, choice in field.widget.choices %}
        <option {% if value|force_text == bound_field.value|force_text %}selected="selected"{% endif %}
                {% if value == None or value == '' %}style="display:none"{% endif %}
                value="{{ value|default_if_none:"aa" }}" >{% if value == None or value == '' %}{{ form_select_empty_label|default:choice }}{% else %}{{ choice }}{% endif %} </option>
        {% endfor %}
    </select>
    {% endpart %}
    {% part field errors %}
        {% if bound_field.errors %}
            {% include  'material/field_errors.html' %}
        {% endif %}
    {% endpart %}{% part field help_text %}
    {% if field.help_text %}
        <span class="help-block">{{ bound_field.help_text }}</span>
    {% endif %}
    {% endpart %}{{ hidden_initial }}
</div>
</div>
