{% load material_form material_form_internal %}
{% part bound_field.field %}{% with formset=bound_field|formset_value %}<div class="row">
    <div{% attrs bound_field 'group' %}
        id="id_{{ bound_field.html_name }}_container"
           class="formset-field col s12{% if field.required %} required{% endif %}{% if bound_field.errors %} has-error{% endif %}"
           data-formset-prefix="{{ formset.prefix }}"
    {% endattrs %}>
        {% part field label %}
        <label{% attrs bound_field 'label' %}
            for="{{ bound_field.id_for_label }}"
        {% endattrs %}>{{ bound_field.label }}</label>
        {% endpart %}{% part field prefix %}{% endpart %}{% part field control %}
        <script type="form-template" data-formset-empty-form>
            <tr data-formset-form>
                {% with form=formset.empty_form %}
                {% part formset.empty_form hidden %}{% for hidden in formset.empty_form.hidden_fields %}{{ hidden }}{% endfor %}{% endpart %}
                {% part form visible %}{% for bound_field in formset.empty_form.visible_fields %}
                {% if bound_field.name != 'DELETE' %}
                <td>{% render bound_field %}{% endrender %}</td>
                {% else %}
                <td style="vertical-align: middle">
                    <div style="display:none">{{ bound_field }}</div>
                    <button type="button" class="btn btn-flat white lighten-4" style="padding:0px 10px;font-size:0.7rem;height:calc(100% - 15px);width:100%" data-formset-delete-button><i class="mdi-content-clear"></i></button>
                </td>
                {% endif %}
                {% endfor %}{% endpart %}
                {% endwith %}
            </tr>
        </script>
        <table class="table responsive-table">
            <tbody data-formset-body>
                {% for form in formset.forms %}
                <tr data-formset-form>
                    {% part form hidden %}{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}{% endpart %}
                    {% part form visible %}{% for bound_field in form.visible_fields %}
                    {% if bound_field.name != 'DELETE' %}
                    <td>{% render bound_field %}{% endrender %}</td>
                    {% else %}
                    <td style="vertical-align: middle">
                        <div style="display:none">{{ bound_field }}</div>
                        <button type="button" class="btn btn-flat white lighten-4" style="padding:0px 10px;font-size:0.7rem;height:calc(100% - 15px);width:100%" data-formset-delete-button><i class="mdi-content-clear"></i></button>
                    </td>
                    {% endif %}
                    {% endfor %}{% endpart %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-flat grey lighten-4" style="padding:0px 40px;width:100%" data-formset-add><i class="mdi-content-add"></i></button>
        {{ formset.management_form }}
        {% endpart %}
    </div>
</div>{% endwith %}{% endpart %}
