{% extends 'material/base_page.html' %}
{% load i18n %}

{% block nav_header %}
  <div class="flex items-center mb-2 text-primary">
    <span class="material-icons mr-2">dashboard</span>
    <span class="text-xl font-semibold">Django Material</span>
  </div>
{% endblock nav_header %}

{% block nav_items %}
  <c-nav.item icon="home" href="{% url 'index' %}">Home</c-nav.item>
  <c-nav.item icon="smart_button" href="{% url 'buttons' %}">Buttons</c-nav.item>
  <c-nav.item icon="menu" href="{% url 'navigation' %}">Navigation</c-nav.item>
  <c-nav.item icon="table_view" href="{% url 'tables' %}">Tables</c-nav.item>
  <c-nav.item icon="article" href="{% url 'templates' %}">Templates</c-nav.item>
  <c-nav.item icon="linear_scale" href="{% url 'breadcrumbs' %}">Breadcrumbs</c-nav.item>
{% endblock nav_items %}

{% block nav_footer %}
  <div class="flex items-center">
    <span class="material-icons mr-2">code</span>
    <span>v0.1</span>
  </div>
{% endblock nav_footer %}