# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=material.viewflow.io
DATABASE_URL=postgres://material:material@localhost/material

# Email settings
DEFAULT_FROM_EMAIL=material@example.com
SERVER_EMAIL=material@example.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False