www.material.viewflow.io {
  redir https://material.viewflow.io{uri}
}

material.viewflow.io {
  encode gzip
  header Strict-Transport-Security "max-age=31536000; preload"
  
  @excludeDirs {
    not path /static/* /media/*
  }
  reverse_proxy @excludeDirs unix//run/material/material-web.sock
  
  # Handle static files
  handle /static/* {
    uri strip_prefix /static
    file_server {
      root {{ project_dir }}/static/
    }
  }
  
  # Handle media files
  handle /media/* {
    uri strip_prefix /media
    file_server {
      root {{ project_dir }}/media/
    }
  }
}