@import "material/sass/variables";

html, body {
    height: 100%;
}

body {
    background: #eee;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}

nav ul a span.badge {
    position: absolute;
    line-height: 44px;
}

.breadcrumbs {
    color: #fff;
    background: $primary-color-dark;
}

th {
    font-weight: 300;
}

.page-title {
    display:inline
}

.side-nav.fixed .logo {
    height: 150px;
    background-color: $primary-color-dark;
}

.side-nav.fixed .logo a {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.side-nav.fixed .logo a img {
    display: table-cell;
}

.avatar {
    height: 30px;
    position: relative;
    top: 15px;
    margin-right: 10px; 
}

#user-menu {
    min-width: 157px;
}

/* 
   Sidebar menu 
*/

.no-padding {
  padding: 0 !important;
}

ul.side-nav.fixed.module-menu li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.side-nav.module-menu a.collapsible-header {
    padding-left: 15px;
    padding-right: 15px;
}

ul.side-nav.module-menu .collapsible-header i.material-icons {
    font-size: 1.6rem;
    margin-right: 1rem;
}

.side-nav.fixed .collapsible-body .collapsible-body li a {
    padding-left: 4rem;
}


ul.side-nav.module-menu .collapsible-body .collapsible-body .collapsible-body li a {
    padding-left: 5rem;
}

ul.side-nav.module-menu .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background: $nav-2d-level-color;
}


ul.side-nav.module-menu li.active>a>span.badge {
    color: #fff;
}

.side-nav.fixed .collapsible-body li.active.header {
    background-color: $nav-1st-level-color;
    border-bottom: 1px solid #eee;
}

.side-nav.fixed .collapsible-body .collapsible-body li.active.header {
    background-color: #DDD;
}

.side-nav.fixed .collapsible-body .collapsible-body .collapsible-body li.active {
    background-color: $nav-2d-level-color;
}


.side-nav.fixed .collapsible-body li.active a {
    color: $nav-default-text-color;
}

.side-nav.fixed .collapsible-body li.active>a {
    color: $nav-1st-level-text-color;
}

.side-nav.fixed .collapsible-body .collapsible-body li.header.active>a {
    color: #333;
}

/*
  Breadcrumbs
*/
.breadcrumbs div {
    height: 48px;
    padding-top:10px;
}

.breadcrumbs a {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

/*
   Alerts
*/

.alert-info {
    background-color: #0277bd;
}

.alert-warning {
    background-color: #ff8f00;
}

.alert-error {
    background-color: #bf360c;
}

.toast a {
    padding-left: 5px;
    padding-right: 5px;
    color: wheat;
}

.frontend-list>.col>.card {
    margin-bottom: 40px;
}

.frontend-list .dataTables_paginate {
    text-align: right;
}

.frontend-list .paginate_button {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    margin: 15px 2px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    color: #444;
    cursor: pointer;

    &.current {
        background-color: $primary-color;
        color: white;
    }

    &.disabled  {
      cursor: default;
      color: #999;
    }
}

.frontend-form .form-title {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0px;
}

.frontend-form .card-content .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.frontend-form .section {
    padding-top: 0;
    padding-bottom: 0;
}

.frontend-form h5 {
    font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

/*
  Responsible layout 
*/
@media only screen and (min-width : 992px) {
    .nav-top {
        height:80px;
    }

    main {
        margin-left:240px;
        height: calc(100% - 80px);
    }

    .page-title a{
        padding-left: 270px;
        font-size: 1.6rem;
        font-weight: 300;
        position: relative;
        top: 5px;
        text-transform: uppercase;
    }
}