{% load material_form material_form_internal %}
<div class="row">
    <div{% attrs bound_field 'group' %}
        id="id_{{ bound_field.html_name }}_container"
        class="readonly-password-field col s12{% if field.required %} required{% endif %}{% if bound_field.errors %} has-error{% endif %}"
    {% endattrs %}>
        {% part field label %}
        <label for="{{ bound_field.id_for_label }}" class="active {% part field add_label_class %}{{ form_label_class }}{% endpart %}">{{ bound_field.label }}</label>
        {% endpart %}{% part field prefix %}{% endpart %}{% part field control %}
        <div id="id_{{ bound_field.html_name }}">
            <strong>algorithm</strong>: pbkdf2_sha256
            <strong>iterations</strong>: 12000
            <strong>salt</strong>: CYAovB******
            <strong>hash</strong>: Et39d4**************************************
        </div>
        {% endpart %}{% part field help_text %}
        {% if field.help_text %}
        <small class="help-block">{{ bound_field.help_text|safe }}</small>
        {% endif %}
        {% endpart %}{{ hidden_initial }}
    </div>
</div>
