{% load material_form material_form_internal %}

{% render bound_field widget=field.widget.widget %}
    {% part field append %}
    <a href="%s%s" class="add-another" id="add_id_{{ bound_field.html_name }}" onclick="return showAddAnotherPopup(this);">
        <i class="mdi-action-add"></i>
    </a>
    {% endpart %}
{% endrender %} 

<!--
<div {% tagattrs %}
     class="{% part field group_class %}
            form-group
            {% if field.required%}required{% endif %}
            {% if bound_field.errors %}has-error{% endif %}
            {% part field add_group_class %}{% endpart %}
            {% endpart %}"{% endtagattrs %}>
    {% part field label %}
    <label for="{{ bound_field.id_for_label }}" class="control-label {% part field add_label_class %}{{ form_label_class }}{% endpart %}">{{ bound_field.label }}</label>
    {% endpart %}
    <div class="input-group" style="width:100%">
        {% part field prepend %}{% endpart %}{% part field control %}
        <select {% tagattrs %}
                class="form-control {% part field add_control_class %}{% endpart %}"
                multiple="multiple"
                name="{{ bound_field.html_name }}"
                id="id_{{ bound_field.html_name }}"{% endtagattrs %}>
            {% for value, choice in field.widget.choices %}
            <option value="{{ value }}" {% if value|force_text == bound_field.value|force_text %}selected="selected"{% endif %}>{{ choice }}</option>
            {% endfor %}
        </select>
        {% endpart %}{% part field append %}{% endpart %}
    </div>
    {% part field errors %}
        {% if bound_field.errors %}
            {% include  'material/field_errors.html' %}
        {% endif %}
    {% endpart %}{% part field help_text %}
    {% if field.help_text %}
        <span class="help-block">{{ bound_field.help_text }}</span>
    {% endif %}
    {% endpart %}{{ hidden_initial }}
</div>
              

<script type="text/javascript">
    addEvent(window, "load", function(e) {
    	SelectFilter.init("id_{{ bound_field.html_name }}", "{{ bound_field.html_name }}", 0, "/static/admin/"); 
    });
</script>  
-->            
