<div class="row">
    {% with contents=fieldset_field.contents %}
    {% if 'admin/img/icon-' in contents %}
    <div class="checkbox-field col s12">
        <input type="checkbox" id="test7" {% if 'icon-yes' in contents %}checked="checked"{% endif %} disabled="disabled" />
        <label for="test7">{{ fieldset_field.field.label|title }}</label>
    </div>
    {% else %}
    {% if '<' in contents and '>' in contents or contents == "" %}
        <div class="col s12">
            {{ contents }}
        </div>
        {% else %}
            <div class="input-field col s12">
                <label class="active">{{ fieldset_field.field.label|title }}</label>
                <input disabled value="{{ contents }}">
                {% if fieldset_field.field.help_text %}
                    <div class="help-block">{{ fieldset_field.field.help_text|safe }}</div>
                {% endif %}
            </div>
         {% endif %}
    {% endif %}
    {% endwith %}
</div>
