<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Material Design for Django Forms and Admin{% endblock %}</title>

    {% block head %}
    {% include 'material/includes/material_css.html' %}

    <style type="text/css">
      html, body {
          background: #eee;
          height: 100%;
      }
    </style>
    {% block extrahead %}{% endblock %}
    {% endblock %}
  </head>
  <body class="valign-wrapper2">
      {% block sidebar %}{% endblock %}
      <div class="{% block container_class %}container expand-on-small-only{% endblock %}">
          {% block content %}{% endblock %}
      </div>
      {% block js %}
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      {% include 'material/includes/material_js.html' %}
      {% block extrajs %}{% endblock %}
      {% endblock %}
  </body>
</html>
