.dmc-form-field {
  display: flex;
  width: 100%;

  &.dmc-form-field--invalid {
    >.material-icons {
      color: #d50000;
    }
  }

  >.material-icons:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  >.material-icons {
    padding-bottom: 16px;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }
}

.dmc-form-field__input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
