@import './_form-field.scss';
@import './_submit-button.scss';

.dmc-form {
  padding: 0;
}

.dmc-form__visiblefields  {
  grid-gap: 0;
}

.dmc-form__formset-header {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}
