.dmc-calendar {
  display: flex;
  max-width: 470px;
}

.dmc-calendar__body{
  position: relative;
  text-align: center;
  width: 100%;
}

.dmc-calendar__title {
  display: inline-block;
  padding: 14px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,.87);
}

.dmc-calendar__weekday {
  font-size: 13px;
  display: inline-block;
  width: 14.2857143%;
  color: rgba(0,0,0,.54);
  height: 38px;
  line-height: 38px;
}

.dmc-calendar__day {
  display: inline-block;
  width: 14.2857143%;

  span {
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    font-size: 13px;
  }
}

.dmc_calendar__current {
  span {
    color: white;
    background-color: #3f51b5;
    background-color: var(--mdc-theme-primary, #3f51b5);
  }
}

.dmc-calendar:not(.dmc-calendar--disabled) {
  .dmc-calendar__day:not(.dmc_calendar__current) {
    span {
      &:hover:not(:empty) {
        background: #eee;
        cursor: pointer;
      }
    }
  }
}

.dmc-calendar__actions {
  text-align: right;
  padding-bottom: 8px;
}

.dmc-calendar-header {
  width: 160px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #3f51b5;
  background-color: var(--mdc-theme-primary, #3f51b5);
  padding: 24px 24px 20px;
  margin-right: 8px;
}

.dmc-calendar-header__year {
  color: rgba(255,255,255,.7);
  color: var(--mdc-theme-text-secondary-on-primary-dark,rgba(255,255,255,.7));
}

.dmc-calendar-header__date {
  color: white;
}


.dmc-calendar__prev {
  position: absolute;
  top: 6px;
  left: 0;
  i.material-icons {
    vertical-align: middle;
  }
}

.dmc-calendar__next {
  position: absolute;
  top: 6px;
  right: 0;
  i.material-icons {
    vertical-align: middle;
  }
}

// Inline calendar field

.dmc-inline-calendar__label {
  color: rgba(0,0,0,.5);
  font-size: 12px;
  line-height: 15px;
}

.dmc-inline-calendar__label--required:after {
  margin-left: 1px;
  content: "*";
}

.dmc-inline-calendar__helptext {
  margin: 0 0 8px 0;
  color: rgba(0, 0, 0, 0.38);
  color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38));
  font-size: 11px;
  text-align: center;
  max-width: 470px;
}

.dmc-inline-calendar__label--invalid,
.dmc-inline-calendar__helptext--invalid {
  color: #d50000;
}

// Date picker
.dmc-datepicker__button {
  padding: 0;
  height: 24px;
  margin-top: 16px;
  margin-left: 8px;
  min-width: 24px;
}

.dmc-text-field__input--date:not(:focus)::placeholder {
  color: transparent !important;
}

.dmc-text-field__input--date:focus::placeholder {
  color: rgba(0,0,0,.38);
}

.dmc-datepicker__surface {
  width: auto;
  min-width: initial;

  .mdc-dialog__body {
    padding: 0 10px 0px 0px;
    margin: 0;
  }
}

.dmc-datepicker__helptext {
  margin: 0 0 6px 0;
  color: rgba(0, 0, 0, 0.38);
  color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38));
  font-size: 11px;
}

dmc-datepicker__helptext--invalid {
  color: #d50000;
}
