.dmc-checkbox-field {
  padding-top: 7px;
}

.dmc-checkbox-field {
  margin-top: 12px;
  margin-bottom: 7px;

  .mdc-checkbox {
    margin-left: -5px;
  }

  &.dmc-form-field--invalid .dmc-text-field-helptext,
  &.dmc-form-field--invalid label {
    opacity: 1;
    color: #d50000;
  }

  &.dmc-form-field--invalid .mdc-checkbox__background {
    border-color: rgba(213, 0, 0, 0.54) !important;
  }

  .dmc-text-field-helptext {
    margin-bottom: 0px !important;
    margin-top: -3px;
    margin-left: 35px;
    padding-left: 4px;
  }
}
