.dmc-breadcrumbs {
  font-weight: 500;
  margin-top: 2px;

  a {
    text-decoration: none;
    color: #3f51b5;
    color: var(--mdc-theme-primary, #3f51b5);
  }

  a:before {
      content: '\E5CC';
      vertical-align: top;
      display: inline-block;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      margin-left: -2px;
      margin-right: 2px;
      color: rgba(0, 0, 0, 0.87);
      color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  a:first-child:before {
    display: none;
  }

  a:last-child {
    color: rgba(0, 0, 0, 0.87);
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87))
  }
}
