{% extends 'material/base.html' %}

{% block body %}
  {% block nav %}
    <c-nav.container>
      <c-slot name="header">
        {% block nav_header %}{% endblock nav_header %}
      </c-slot>
      
      {% block nav_items %}{% endblock nav_items %}
      
      <c-slot name="footer">
        {% block nav_footer %}{% endblock nav_footer %}
      </c-slot>
    </c-nav.container>
  {% endblock nav %}
  <main>{% block content %}{% endblock %}</main>
  <footer role="contentinfo">{% block footer %}{% endblock footer %}</footer>
  {% block extrabody %}{% endblock extrabody %}
{% endblock %}