.dmc-text-field {
  width: 100%;
  margin-bottom: 0px !important;
  margin-top: 8px !important;

  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]:hover,
  input[type=number]:focus {
    -moz-appearance: initial;
  }

  .dmc-text-field__input {
    width: 100%;
  }


}

.dmc-text-field-helptext {
  font-size: 11px;
  margin-bottom: 4px!important;
  margin-top: 3px;
}
