{% load i18n material_site %}
<nav class="mdc-list" data-mdc-auto-init="DMCActiveNav">
  <div class="mdc-list-group">
    <h3 class="mdc-list-group__subheader mdc-list-group__subheader--dmc">{{ app.title }}</h3>
    {% block viewset_links %}{% for viewset in app.menu_items %}
    {% viewset_url viewset 'index' as index_url %}{% if index_url %}
    <a class="mdc-list-item mdc-list-item--dmc" href="{{ index_url }}">
      {% if viewset.icon %}{{ viewset.icon }}{% else %}<i class="material-icons">view_carousel</i>{% endif %}{{ viewset.title }}
    </a>
    {% endif %}
    {% empty %}
    No viewsets found
    {% endfor %}{% endblock %}
  </div>
  <div class="mdc-list-divider"></div>
</nav>
