{% load static %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/ripples.min.js"></script>
<script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'material/js/snackbar.min.js' %}"></script>
<script>
    $.material.init();
</script>
