{% load static %}
<link href="{% static 'material/css/materialize.css' %}" rel="stylesheet">
<style type="text/css">
form  .row {
    margin-bottom: 0px;
}

.checkbox-field {
    line-height: 35px;
}

.readonly-password-field {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.3);
}

.readonly-password-field div {
    margin-top: 10px;    
    margin-bottom: 15px;    
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
}

.help-block {
    line-height: 12px;
    position: relative;
    top: -10px;
    color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width : 600px) {
    .container.expand-on-small-only {
        width: 100% !important;
        padding: 0 0.8rem  !important;
    }
}
</style>