{% load material i18n %}

{% if site.parent %}
  {% reverse site.parent 'index' as parent_index %}
  {% if parent_index %}
    <c-nav.item href="{{ parent_index }}" icon="arrow_back">
      {% trans 'Back' %}
    </c-nav.item>
  {% endif %}
{% endif %}
  
{% for app in site.menu_items %}
  {% if app|has_perm:request.user %}
    {% reverse app 'index' as index_url %}
    <c-nav.item 
      href="{{ index_url }}" 
      up_target="main, #main_nav"
      icon="{{ app.icon|default:'apps' }}">
      {% trans app.title %}
    </c-nav.item>
    {% block app_links_extra %}
    {% if app == request.resolver_match.app and app.menu_template_name %}
      {% include app.menu_template_name %}
    {% endif %}  
    {% endblock %}
  {% endif %}
{% empty %}
  <li class="px-4 py-2 text-sm text-error">
    {% trans 'No applications found.' %}
  </li>
{% endfor %}
