{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="card-content">
            {% block card %}
            <div class="card-title">{{ view.model|verbose_name|title }}: {{ object }}</div>
            {% if view.layout or form.layout %}
                {% if view.layout %}
                    {% form layout=view.layout template='material/readonly/form.html' %}{% endform %}
                {% else %}{% if form.layout %}
                    {% form layout=form.layout template='material/readonly/form.html' %}{% endform %}
                {% endif %}{% endif %}
            {% else %}{% if form %}
                {% form template='material/readonly/form.html' %}{% endform %}
            {% else %}
                {{ view.object }}
            {% endif %}{% endif %}
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% endblock %}
