{% extends current_module.base_template %}
{% load i18n material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural }}</a> &rang;
<a class="current">{% trans 'All' %}</a>
{% endblock %}


{% block content %}
<div class="row frontend-list">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <table id="table" class="table bordered">
                    <thead>
                        <tr>
                            {% for header, header_title in headers %}
                            <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item, row in data %}
                        <tr>
                            {% for column_name, item in row.items %}
                            <td>
                                {% if column_name in view.datalist.list_display_links %}
                                    <a href="#">{{ item }}</a>
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block action_btn %}
    <div class="fixed-action-btn">
        {% url view.model|frontend_urlname:'add' as add_url %}
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}">
            <i class="large material-icons">add</i>
        </a>
    </div>
    {% endblock %}

    <script type="text/javascript">
      {% block datatable %}
      var config = {{ datatable_config|safe }};
      config['columnDefs'] = [
        {
          "targets": {{ view.datalist.list_display_links|safe }},
          "render": function ( data, type, full, meta ) {
            if(full.view_url) {
              return "<a href='"+ full.view_url + "'>" + data+ "</a>";
            } else {
              return data;
            }
          },
        }
      ];

      $('.dataTables_paginate').remove();
      var datatable = $('#table').DataTable(config);
      new $.fn.dataTable.FixedHeader(datatable);

      $(document).one('pjax:beforeReplace', function() {
        datatable.destroy();
      });

      {% endblock %}
    </script>
</div>
{% endblock %}
