body {
    background: #eee
}

.top-nav {
    box-shadow: none;
    height: 90px;
}

.brand-logo {
    line-height: 90px;
    font-size: 48px;
}

ul.side-nav.fixed li.logo {
    text-align: center;
}

#logo-container {
    height: 127px;
    padding-top: 20px;
    padding-bottom: 16px;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

main {
    padding-left: 240px;
}

.top-nav {
    padding-left: 270px;
}

.bootcards-summary-item {
    background: #f5f5f5;
    display: block;
    border-radius: 4px;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-field label {
    left: 0;
}

.card .pagination a {
    margin-right: 0px;
}


/*
   admin checkbox
*/

.checkbox label {
    font-weight: bold !important;
    font-size: 14px !important;
    color: rgba(0,0,0,.84) !important;
}

.checkbox .hint {
    padding-left: 35px;
    padding-top: 5px;
    font-size: 12px;
    display: block;
}

.checkbox {
    padding-top: 15px;
    padding-bottom: 15px;
}

.multiselect select {
    display: block;
    background: #fff;
}