<material-textarea
  name="{{ widget.name }}"
  variant="{{ widget.variant }}"
  rows="{{ widget.attrs.rows }}"
  {% if widget.label %}label="{{ widget.label }}"{% endif %}
  {% if widget.value %}value="{{ widget.value }}"{% endif %}
  {% if widget.attrs.maxlength %}max-length="{{ widget.attrs.maxlength }}"{% endif %}
  {% if widget.attrs.required %}required{% endif %}
  {% if widget.attrs.disabled %}disabled{% endif %}
  {% if widget.attrs.readonly %}readonly{% endif %}
  {% if widget.attrs.placeholder %}placeholder="{{ widget.attrs.placeholder }}"{% endif %}
  {% if widget.help_text %}help-text="{{ widget.help_text }}"{% endif %}
  {% if widget.auto_resize %}auto-resize{% endif %}
  {% if widget.min_rows %}min-rows="{{ widget.min_rows }}"{% endif %}
  {% if widget.max_rows %}max-rows="{{ widget.max_rows }}"{% endif %}
></material-textarea>
