{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{{ block.super }}{% endblock %}


{% block body %}
{% block main %}
<div class="registration" style="background:url({% static 'material/imgs/background.svg' %})">
    <div class="sidebar z-depth-3">
        <h4>{{ title }}</h4>
        
        <div class="row">
            <div class="col s8 offset-s2">
                {% trans "Thanks for spending some quality time with the Web site today." %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="{% url 'admin:login' %}" class="btn btn-primary white-text">{% trans 'Log in again' %}</a>
            </div>
        </div>
    </div>
    {% block icon_wrapper %}
    <div class="logo">
        <i class="logo__icon material-icons">{% block icon %}thumb_up{% endblock %}</i>
    </div>
    {% endblock %}
</div>
{% endblock %}
{% endblock %}
