{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}


{% block breadcrumbs %}
<div class="row">
    <div class="col-md-12 col-lg-12 hidden-sm hidden-xs breadcrumbs">
        <ul class="breadcrumb well">
            <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
            <li class="active">{% trans 'Password change' %}</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="center-block col-xs-5" style="float: none;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ title }}
            </div>
            <div class="panel-body">                       
                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
