{% extends "material/frontend/base_site.html" %}
{% load i18n static material_form %}

{% block title %}404 {% trans 'Page not found' %} - {{ block.super }}{% endblock %}
{%block bodyclass %}auth{% endblock %}


{% block body %}
<div class="registration" style="background:url({% static 'material/imgs/background.svg' %})">
    <div class="sidebar z-depth-3">
        <h4>{% block page_title %}404<br/>{% trans 'Page not found' %}{% endblock %}</h4>
        <div class="row">
            <div class="col s8 offset-s2">
                <p>{% trans "We're sorry, but the requested page could not be found." %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="/" class="btn btn-primary white-text">{% trans 'View site' %}</a>
            </div>
        </div>

    </div>
    <div class="logo">
        <i class="logo__icon material-icons">not_interested</i>
    </div>
</div>
{% endblock %}
